setproctitle==1.2.2
psutil==6.1.0
colorama==0.4.6
tensorboard-data-server==0.7.2
async-timeout==5.0.1
threadpoolctl==3.5.0
asttokens==2.4.1
ipython==8.26.0
nvidia-cublas-cu12==12.4.5.8
tiktoken==0.7.0
shtab==1.7.1
partial-json-parser==0.2.1.1.post4
marisa-trie==1.2.1
certifi==2024.12.14
nbclient==0.10.0
traitlets==5.14.3
opentelemetry-semantic-conventions==0.46b0
fonttools==4.53.1
importlib_resources==6.4.0
antlr4-python3-runtime==4.11.0
beartype==0.18.5
ptyprocess==0.7.0
gguf==0.10.0
yarl==1.18.3
jsonpointer==2.4
networkx==3.3
frozenlist==1.5.0
preshed==3.0.9
bleach==6.1.0
Brotli==1.1.0
seaborn==0.13.2
Flask-RESTful==0.3.10
typer==0.15.1
prometheus_client==0.20.0
blis==1.1.0
omegaconf==2.3.0
outlines_core==0.1.26
srsly==2.5.0
thinc==8.3.3
accelerate==1.0.1
attrs==24.3.0
gitdb==4.0.11
sentencepiece==0.2.0
termcolor==2.4.0
pip==24.0
language_data==1.3.0
sentry-sdk==2.9.0
conda==24.5.0
torchvision==0.20.1
pretty-traceback==2023.1020
websocket-client==1.8.0
readchar==4.2.0
pyzmq==26.0.3
fastapi==0.115.6
filelock==3.16.1
lm-format-enforcer==0.10.9
zstandard==0.22.0
xxhash==3.5.0
watchfiles==1.0.3
depyf==0.18.0
psutil==6.0.0
python-dateutil==2.9.0.post0
qtconsole==5.5.2
natsort==8.4.0
blinker==1.8.2
more-itertools==10.3.0
regex==2024.5.15
platformdirs==4.2.0
graphql-relay==3.2.0
interegular==0.3.3
cffi==1.16.0
nvidia-cusolver-cu12==11.6.1.9
orjson==3.10.7
flash-attn==2.5.9.post1
pkgutil_resolve_name==1.3.10
docker-pycreds==0.4.0
mamba==1.5.8
webcolors==24.6.0
mdurl==0.1.2
sqlparse==0.5.0
pytest==8.3.4
aiohappyeyeballs==2.4.4
referencing==0.35.1
tinycss2==1.3.0
trl==0.9.6
zipp==3.19.2
pluggy==1.5.0
elasticsearch==8.17.0
nbconvert==7.16.4
aiosignal==1.3.2
MarkupSafe==2.1.5
shellingham==1.5.4
python-json-logger==2.0.7
airportsdata==20241001
einops==0.8.0
jsonschema==4.21.1
llvmlite==0.42.0
safetensors==0.4.3
webencodings==0.5.1
tornado==6.4.1
matplotlib==3.9.1
dill==0.3.8
peft==0.13.2
catalogue==2.0.10
hyperframe==6.0.1
entrypoints==0.4
mpmath==1.3.0
anyio==4.4.0
uri-template==1.3.0
pawk==0.8.1
murmurhash==1.0.11
ruamel.yaml==0.18.6
iniconfig==2.0.0
xformers==0.0.28.post3
blake3==1.0.0
frozendict==2.4.4
pydantic==2.10.4
spacy-loggers==1.0.5
uvloop==0.21.0
nvidia-cudnn-cu12==9.1.0.70
lark==1.1.9
python-git==2018.2.1
confection==0.1.5
importlib_metadata==7.1.0
Markdown==3.6
graphene==3.3
open_instruct==0.0.1
jupyterlab_pygments==0.3.0
nbformat==5.10.4
pure-eval==0.2.2
terminado==0.18.1
ray==2.40.0
hpack==4.0.0
types-python-dateutil==2.9.0.20240316
wandb==0.18.1
ansi2html==1.9.2
pyarrow-hotfix==0.6
widgetsnbextension==4.0.11
mistune==3.0.2
rfc3986-validator==0.1.1
nvidia-curand-cu12==10.3.5.147
soupsieve==2.5
parso==0.8.4
edit-distance==1.0.6
annotated-types==0.7.0
simple-slurm==0.2.7
colorama==0.4.6
jupyterlab==4.2.3
nvidia-cusparse-cu12==12.3.1.170
nest_asyncio==1.6.0
httpcore==1.0.5
Jinja2==3.1.4
SQLAlchemy==2.0.31
outlines==0.1.11
truststore==0.8.0
cloudpickle==3.0.0
debugpy==1.8.2
joblib==1.4.2
jupyter_core==5.7.2
contourpy==1.2.1
notebook_shim==0.2.4
transformers==4.46.2
aiohttp==3.11.11
spacy==3.8.3
argon2-cffi==23.1.0
opentelemetry-api==1.25.0
wheel==0.43.0
hjson==3.1.0
jupyter_server_terminals==0.5.3
astor==0.8.1
gunicorn==22.0.0
torch==2.5.1
idna==3.10
pybind11==2.13.6
sympy==1.13.1
jupyter_server==2.14.1
inquirer==3.4.0
argon2-cffi-bindings==21.2.0
greenlet==3.0.3
tensordict==0.5.0
cycler==0.12.1
docstring_parser==0.16
pyairports==2.1.1
pickleshare==0.7.5
requests==2.32.3
opentelemetry-sdk==1.25.0
ipykernel==6.29.5
boltons==24.0.0
openai==1.58.1
tqdm==4.67.1
grpcio==1.68.1
msgspec==0.18.6
Deprecated==1.2.14
multidict==6.1.0
fqdn==1.5.1
spacy-legacy==3.0.12
Babel==2.14.0
jsonlines==4.0.0
typing_extensions==4.12.2
mistral_common==1.5.1
jupyter-console==6.6.3
Send2Trash==1.8.3
torchaudio==2.3.1
sentence-transformers==3.2.1
httpx==0.27.0
cloudpathlib==0.20.0
jsonpatch==1.33
jiter==0.8.2
numba==0.59.1
jupyter_client==8.6.2
kiwisolver==1.4.5
python-dotenv==1.0.1
setuptools==69.5.1
QtPy==2.4.1
smart-open==7.1.0
pyarrow==18.1.0
jupyterlab_server==2.27.2
conda_package_streaming==0.9.0
async-lru==2.0.4
aniso8601==9.0.1
fire==0.7.0
elastic-transport==8.15.1
exceptiongroup==1.2.0
nvidia-cuda-cupti-cu12==12.4.127
wget==3.2
menuinst==2.0.2
vllm==0.6.5
wrapt==1.16.0
ipdb==0.13.13
isoduration==20.11.0
mlflow==2.14.3
h5py==3.11.0
starlette==0.41.3
tomli==2.0.1
gmpy2==2.1.5
multiprocess==0.70.16
huggingface-hub==0.27.0
jupyter==1.0.0
opencv-python-headless==4.10.0.84
cymem==2.0.10
comm==0.2.2
fsspec==2024.9.0
decorator==5.1.1
cached-property==1.5.2
PySocks==1.7.1
msgpack==1.1.0
json5==0.9.25
en_core_web_lg==3.8.0
jsonschema-specifications==2023.12.1
rich==13.7.1
fuzzywuzzy==0.18.0
pydantic_core==2.27.2
tensorboard==2.18.0
nvidia-nvjitlink-cu12==12.4.127
bitsandbytes==0.43.1
weasel==0.4.1
pytz==2024.2
nvidia-cuda-runtime-cu12==12.4.127
tokenizers==0.20.3
tabulate==0.9.0
GitPython==3.1.43
nvidia-cufft-cu12==11.2.1.3
distro==1.9.0
jedi==0.19.1
h11==0.14.0
wcwidth==0.2.13
jupyter-events==0.10.0
py-cpuinfo==9.0.0
urllib3==2.3.0
typing-utils==0.1.0
pexpect==4.9.0
executing==2.0.1
nvidia-nccl-cu12==2.21.5
cachetools==5.3.3
Flask==3.0.3
libmambapy==1.5.8
six==1.17.0
wasabi==1.1.3
overrides==7.7.0
Pygments==2.18.0
pycountry==24.6.1
blessed==1.20.0
httptools==0.6.4
propcache==0.2.1
stack-data==0.6.2
itsdangerous==2.2.0
click==8.1.7
diskcache==5.6.3
nvgpu==0.10.0
PyYAML==6.0.2
ipywidgets==8.1.3
jupyterlab_widgets==3.0.11
ruamel.yaml.clib==0.2.8
text2digits==0.1.0
matplotlib-inline==0.1.7
uvicorn==0.34.0
jupyter-lsp==2.2.5
prometheus-fastapi-instrumentator==7.0.0
editor==1.6.6
nvidia-cuda-nvrtc-cu12==12.4.127
triton==3.1.0
setproctitle==1.3.3
deepspeed==0.15.1
notebook==7.2.1
fastjsonschema==2.20.0
beautifulsoup4==4.12.3
charset-normalizer==3.4.1
pandocfilters==1.5.0
websockets==14.1
pandas==2.2.3
langcodes==3.5.0
evaluate==0.4.3
pycparser==2.22
h2==4.1.0
xmod==1.8.1
querystring-parser==1.2.4
smmap==5.0.1
sniffio==1.3.1
pyparsing==3.1.2
packaging==24.2
datasets==3.2.0
docker==7.1.0
pycosat==0.6.6
markdown-it-py==3.0.0
defusedxml==0.7.1
protobuf==4.25.3
Mako==1.3.5
tyro==0.8.5
rfc3339-validator==0.1.4
scipy==1.14.0
absl-py==2.1.0
conda-package-handling==2.2.0
tzdata==2024.2
nvidia-nvtx-cu12==12.4.127
prompt_toolkit==3.0.47
pillow==10.4.0
alembic==1.13.2
Werkzeug==3.0.3
hydra-core==1.3.2
scikit-learn==1.5.1
ninja==1.11.1.1
arrow==1.3.0
runs==1.2.2
numpy==2.2.1
conda-libmamba-solver==24.1.0
graphql-core==3.2.3
xgrammar==0.1.8
archspec==0.2.3
multiset==3.1.0
compressed-tensors==0.8.1
nvidia-ml-py==12.560.30
rpds-py==0.18.1
general_utils==1.0
